<!-- Page wrapper  -->
<div class="page-wrapper">    
    <div class="row page-titles">
        <div class="col-md-5 align-self-center">
            <h3 class="text-primary">
                <b>Dashboard</b>&nbsp;
                <small><i class="fa fa-level-down"></i></small>
            </h3>
            <p style="margin-bottom: 0px" class="header-title">
                <i>Informasi seputar pelayanan yang telah diberikan</i>
            </p>
        </div>
        <div class="col-md-7 align-self-center">
            <ol class="breadcrumb">                    
                <li class="breadcrumb-item active"><b>Dashboard</b></li>
            </ol>
        </div>
    </div>    
    <div class="container-fluid">             
        <div class="row">
            <div class="col-sm-12">
                <h3><i class="fa fa-angle-right"></i>&nbsp; Informasi Kecelakaan Secara <b>Realtime</b></h3>
            </div>
            <div class="col-md-4">
                <div class="card p-30">
                    <div class="media">
                        <div class="media-left meida media-middle">
                            <span><i class="fa fa-star f-s-50 color-primary"></i></span>
                        </div>
                        <div class="media-body media-text-right">
                            <h2>12</h2>
                            <p class="m-b-0">Kecelakaan Tervalidasi</p>
                        </div>
                    </div>
                </div>
            </div>            
        </div>
        <div class="row">
            <div class="col-sm-12">
                <h3><i class="fa fa-angle-right"></i>&nbsp; Informasi <b>Korban</b></h3>
            </div>
            <div class="col-md-4">
                <div class="card p-30">
                    <div class="media">
                        <div class="media-left meida media-middle">
                            <span><i class="fa fa-star-o f-s-50 color-success"></i></span>
                        </div>
                        <div class="media-body media-text-right">
                            <h2>5</h2>
                            <p class="m-b-0">Korban Luka Ringan</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card p-30">
                    <div class="media">
                        <div class="media-left meida media-middle">
                            <span><i class="fa fa-star-o f-s-50 color-success"></i></span>
                        </div>
                        <div class="media-body media-text-right">
                            <h2>5</h2>
                            <p class="m-b-0">Korban Luka Berat</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card p-30">
                    <div class="media">
                        <div class="media-left meida media-middle">
                            <span><i class="fa fa-star-o f-s-50 color-success"></i></span>
                        </div>
                        <div class="media-body media-text-right">
                            <h2>5</h2>
                            <p class="m-b-0">Korban Meninggal</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>    
</div>
<!-- End Page wrapper  -->