<!-- Left Sidebar  -->
<div class="left-sidebar">
    <!-- Sidebar scroll-->
    <div class="scroll-sidebars sidenav-scroll" style="padding-top: 10px">
        <!-- Sidebar navigation-->
        <nav class="sidebar-nav">
            <ul id="sidebarnav">
                <li class="nav-devider"></li>
                <li class="nav-label">Kepolisian</li>
                <li><a href="/dashboard/kesehatan"><i class="fa fa-dashboard"></i>Dashboard</a></li>
                <li><a href="/dashboard/kesehatan/search-patient"><i class="fa fa-search"></i>Search Patient</a></li>
                <li><a href="/dashboard/kesehatan/report-patient"><i class="fa fa-list"></i>Report Patient</a></li>
            </ul>
        </nav>
        <!-- End Sidebar navigation -->
    </div>
    <!-- End Sidebar scroll-->
</div>
<!-- End Left Sidebar  -->