<!-- Page wrapper  -->
<div class="page-wrapper">    
    <div class="row page-titles">
        <div class="col-md-5 align-self-center">
            <h3 class="text-primary">
                <b>Dashboard</b>&nbsp;
                <small><i class="fa fa-level-down"></i></small>
            </h3>
            <p style="margin-bottom: 0px" class="header-title">
                <i>Informasi seputar perjalanan angkutan umum di seluruh indonesia</i>
            </p>
        </div>
        <div class="col-md-7 align-self-center">
            <ol class="breadcrumb">                    
                <li class="breadcrumb-item active"><b>Dashboard</b></li>
            </ol>
        </div>
    </div>    
    <div class="container-fluid">             
        <div class="row">
            <div class="col-md-4">
                <div class="card p-30">
                    <div class="media">
                        <div class="media-left meida media-middle">
                            <span><i class="fa fa-star f-s-50 color-primary"></i></span>
                        </div>
                        <div class="media-body media-text-right">
                            <h2>12</h2>
                            <p class="m-b-0">Santunan Diberikan</p>
                        </div>
                    </div>
                </div>
            </div>            
        </div>
    </div>    
</div>
<!-- End Page wrapper  -->
<script>
function initMap() {
    var uluru = {lat: -7.2793795, lng: 112.7926759};
    var map = new google.maps.Map(document.getElementById('map'), {
        zoom: 14,
        center: uluru
    });
    var marker = new google.maps.Marker({
        position: uluru,
        map: map
    });
}
</script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA-XjofybTWwQTy9HYa8zx-Hh9No6BaQSI
&callback=initMap"></script>