<!-- Page wrapper  -->
<div class="page-wrapper">
    <!-- Bread crumb -->
    <div class="row page-titles">
        <div class="col-md-5 align-self-center">
            <h3 class="text-primary">
                <b>Dashboard</b>&nbsp;
                <small><i class="fa fa-level-down"></i></small>
            </h3>
            <p style="margin-bottom: 0px" class="header-title">
                <i>Informasi seputar perkembangan toko e-commerce yang sedang anda jalankan</i>
            </p>
        </div>
        <div class="col-md-7 align-self-center">
            <ol class="breadcrumb">                    
                <li class="breadcrumb-item active"><b>Dashboard</b></li>
            </ol>
        </div>
    </div> <!-- End Bread crumb -->        
    <!-- Container fluid  -->
    <div class="container-fluid">
        <!-- Start Page Content -->            
        <div class="row">
            <div class="col-md-6">
                <div class="row">
                    <div class="col-sm-12">
                        <h3><i class="fa fa-angle-right"></i>&nbsp; Informasi <b>Event</b></h3>
                    </div>
                    <div class="col-md-6">
                        <div class="card p-30">
                            <div class="media">
                                <div class="media-left meida media-middle">
                                    <span><i class="fa fa-star f-s-50 color-primary"></i></span>
                                </div>
                                <div class="media-body media-text-right">
                                    <h2>12</h2>
                                    <p class="m-b-0">Event Aktif</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="card p-30">
                            <div class="media">
                                <div class="media-left meida media-middle">
                                    <span><i class="fa fa-star-half f-s-50 color-warning"></i></span>
                                </div>
                                <div class="media-body media-text-right">
                                    <h2>25</h2>
                                    <p class="m-b-0">Event Tertunda</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="card p-30">
                            <div class="media">
                                <div class="media-left meida media-middle">
                                    <span><i class="fa fa-star-o f-s-50 color-success"></i></span>
                                </div>
                                <div class="media-body media-text-right">
                                    <h2>5</h2>
                                    <p class="m-b-0">Event Selesai</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>  
            <div class="col-md-6">
                <div class="row">
                    <div class="col-sm-12">
                        <h3><i class="fa fa-angle-right"></i>&nbsp; Informasi <b>Barang</b></h3>
                    </div>
                    <div class="col-md-6">
                        <div class="card p-30">
                            <div class="media">
                                <div class="media-left meida media-middle">
                                    <span><i class="fa fa-archive f-s-50 color-primary"></i></span>
                                </div>
                                <div class="media-body media-text-right">
                                    <h2>12</h2>
                                    <p class="m-b-0">Jenis Barang</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="card p-30">
                            <div class="media">
                                <div class="media-left meida media-middle">
                                    <span><i class="fa fa-dropbox f-s-50 color-warning"></i></span>
                                </div>
                                <div class="media-body media-text-right">
                                    <h2>25</h2>
                                    <p class="m-b-0">Barang</p>
                                </div>
                            </div>
                        </div>
                    </div>                        
                </div>
            </div>                              
        </div>

        <div class="row" style="margin-top: 20px">
            <div class="col-sm-12">
                <h3><i class="fa fa-angle-right"></i>&nbsp; Informasi <b>Penjualan</b></h3>
            </div>
            <div class="col-md-12">
                <div class="card p-30">
                    <div class="media">
                        <div class="media-left meida media-middle">
                            <span><i class="fa fa-star f-s-50 color-primary"></i></span>
                        </div>
                        <div class="media-body media-text-right">
                            <h2>12</h2>
                            <p class="m-b-0">Event Aktif</p>
                        </div>
                    </div>
                </div>
            </div>                
        </div>            
        <!-- End PAge Content -->
    </div>
    <!-- End Container fluid  -->        
</div>
<!-- End Page wrapper  -->
