<!-- Left Sidebar  -->
<div class="left-sidebar">
    <!-- Sidebar scroll-->
    <div class="scroll-sidebars sidenav-scroll" style="padding-top: 10px">
        <!-- Sidebar navigation-->
        <nav class="sidebar-nav">
            <ul id="sidebarnav">
                <li class="nav-devider"></li>
                <li class="nav-label">Jasa Raharja</li>
                <li><a href="/dashboard/jasaraharja"><i class="fa fa-dashboard"></i>Dashboard</a></li>
                <li><a href="/dashboard/jasaraharja/laporan-perjalanan"><i class="fa fa-list"></i>Laporan Perjalanan</a></li>
                <li><a href="/dashboard/jasaraharja/pantau-perjalanan"><i class="fa fa-eye"></i>Pantau Perjalanan</a></li>
            </ul>
        </nav>
        <!-- End Sidebar navigation -->
    </div>
    <!-- End Sidebar scroll-->
</div>
<!-- End Left Sidebar  -->