<!-- Left Sidebar  -->
<div class="left-sidebar">
    <!-- Sidebar scroll-->
    <div class="scroll-sidebars sidenav-scroll" style="padding-top: 10px">
        <!-- Sidebar navigation-->
        <nav class="sidebar-nav">
            <ul id="sidebarnav">
                <li class="nav-devider"></li>
                <li class="nav-label">Kepolisian</li>
                <li><a href="/dashboard/kepolisian"><i class="fa fa-dashboard"></i>Dashboard</a></li>
                <li><a href="/dashboard/kepolisian/report-accident"><i class="fa fa-list"></i>Report Accident</a></li>
                <li><a href="/dashboard/kepolisian/accident-information"><i class="fa fa-eye"></i>Accident Information</a></li>
            </ul>
        </nav>
        <!-- End Sidebar navigation -->
    </div>
    <!-- End Sidebar scroll-->
</div>
<!-- End Left Sidebar  -->