<html>
    <head>        
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    </head>
    <body>
        <p>
            <h1><b>{{ pengirim }}</b> mengirimkan pesan baru</h1>
            <h3>
                <small>
                    {{ pesan.body }}
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore illum, quod fuga laborum sint eum! Cum ut quae ea culpa? Inventore rerum modi distinctio numquam illum fugit delectus vitae blanditiis.
                </small>
            </h3>
        </p>
    </body>
</html>