<!-- footer -->
<footer class="footer m-0">
    <div class="container-fluid p-0" style="padding: 0 30px">
        <div class="row m-0">
            <div class="col-sm-6">
                <p class="m-0"><b><a href="https://gravicodev.com/" class="external">Angkota</a></b> &copy; 2018</p>
            </div>
            <div class="col-sm-6 text-right">
                <p class="m-0">Made with <i class="fa fa-heart"></i>&nbsp; by
                    <b><a href="https://colorlib.com/" class="external">Colorlib</a></b> and 
                    <b><a href="https://gravicodev.com" class="external">Gravicodev</a></b>
                </p>
                <!-- Please do not remove the backlink to us unless you support further theme's development at https://bootstrapious.com/donate. It is part of the license conditions. Thank you for understanding :)-->
            </div>
        </div>
    </div>
</footer>
<!-- End footer -->
