<!-- header header  -->
<div class="header">
    <nav class="navbar top-navbar navbar-expand-md navbar-light" style="position: fixed; width: 100%; background-color: white; height: 70px; border-bottom: 1px solid #eee">
        <!-- Logo -->
        <div class="navbar-header">
            <!-- Navbar Brand -->
            <a href="index.html" class="navbar-brand">
                <div class="brand-text brand-big">                            
                    <strong>Angkota</strong><span>Admin</span>
                </div>
            </a>
            <!-- Toggle Button-->
            <a id="toggle-btn" href="#" class="menu-btn active">
                <span></span>
                <span></span>
                <span></span>
            </a>
        </div>
        <!-- End Logo -->
        <div class="navbar-collapse">
            <!-- toggle and nav items -->
            <ul class="navbar-nav mr-auto mt-md-0">                                
                <li class="nav-item m-l-10"><a class="nav-link sidebartoggler hidden-sm-down text-muted" href="javascript:void(0)"><i class="ti-menu"></i></a></li>                
            </ul>
            <!-- User profile and search -->
            <ul class="navbar-nav my-lg-0">               
                <!-- Profile -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-muted" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img src="/libs/back/img/users/5.jpg" alt="user" class="profile-pic"/></a>
                    <div class="dropdown-menu dropdown-menu-right animated bounceInDown">
                        <ul class="dropdown-user">                                      
                            <li><a href="/auth/logout"><i class="fa fa-power-off"></i> Logout</a></li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
</div>
<!-- End header header -->