<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
    <meta name="description" content="Angkota platform untuk memantau angkutan kota yang sedang beroperasi">
    <meta name="keywords" content="Angkutan Kota, Jasa Raharja, Asuransi">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="author" content="Andika Ahmad Ramadhan">
    <title>Angkota - Kemudahan Angkutan Kota dalam Satu Platform</title>

	<link href="https://stackpath.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">	
	<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
	<link href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css" rel="stylesheet">
	<link href="libs/front/css/material.min.css" rel="stylesheet">
	<link href="libs/front/css/main.css" rel="stylesheet">
	<link href="libs/front/css/responsive.css" rel="stylesheet">
</head>
<body>
	<div class="content-wrap">
		<header class="hero-area" id="home" style="height:100vh">
			<div class="container">
				<div class="contents text-right">
					<h1 class="wow fadeInRight" data-wow-duration="1000ms" data-wow-delay="300ms">
						<b>Angkota</b> - Solusi Angkutan Umum Kota di Dalam Genggaman
					</h1>
					<p class="wow fadeInRight" data-wow-duration="1000ms" data-wow-delay="400ms">
						Dilengkapi dengan integrasi sistem Jasa Raharja yang memudahkan dalam proses klaim asuransi
					</p>
					<a href="#why" class="btn btn-lg btn-primary wow fadeInLeft" data-wow-duration="1000ms" data-wow-delay="400ms">Download Aplikasi</a>
					<a href="#features" class="btn btn-lg btn-border wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="500ms" onclick>Pelajari lebih lanjut</a>
				</div>
			</div>
		</header>
	</div>

	<script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.inview/1.0.0/jquery.inview.min.js"></script>
	<script>
		$(document).ready(function(){
		
			new WOW().init();

			$(".back-to-top").click(function() {
				$('html, body').animate({
					scrollTop: $("#home").offset().top
				}, 1100);
			});

		})
	</script>
</body>

</html>