<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="images/favicon.png">
    <title>{{ title }} | Angkota Dashboard untuk {{ actors }}</title>
    <!-- Bootstrap Core CSS -->
    <link href="libs/back/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS -->    
    <link href="libs/back/css/owl.carousel.min.css" rel="stylesheet" />
    <link href="libs/back/css/owl.theme.default.min.css" rel="stylesheet" />
    <link href="libs/back/css/helper.css" rel="stylesheet">
    <link href="libs/back/css/style.css" rel="stylesheet">
    <script src="libs/back/js/jquery.min.js"></script>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:** -->
    <!--[if lt IE 9]>
    <script src="https:**oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https:**oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
</head>

<body class="fix-header fix-sidebar">
    <!-- Preloader - style you can find in spinners.css -->
    <div class="preloader">
        <svg class="circular" viewBox="25 25 50 50">
        <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" /> </svg>
    </div>
    <!-- Main wrapper  -->
    <div id="main-wrapper">
        
        {{> header}}
        
        {{> sidebar}}

        {{!-- {{{block content}}} --}}

        <footer class="footer"> © 2018 All rights reserved. Template designed by <a href="https://colorlib.com">Colorlib</a></footer>
        <!-- End Page wrapper  -->
    </div>
    <!-- End Wrapper -->
    <!-- All Jquery -->    
    <!-- Bootstrap tether Core JavaScript -->
    <script src="libs/back/js/popper.min.js"></script>
    <script src="libs/back/js/bootstrap.min.js"></script>
    <!-- slimscrollbar scrollbar JavaScript -->
    <script src="libs/back/js/jquery.slimscroll.js"></script>
    <!--Menu sidebar -->
    <script src="libs/back/js/sidebarmenu.js"></script>        
    <script src="libs/back/js/scripts.js"></script>
    <!-- scripit custom-->
    <script src="libs/back/js/custom.min.js"></script>
</body>
</html>